---
import Layout from "../../layouts/Layout.astro";
import { getItems, type ContentItem } from "../../data/items";

export async function getStaticPaths() {
  const allItems = await getItems();
  return allItems.map((item) => ({
    params: { slug: item.slug },
    props: { item },
  }));
}

interface Props {
  item: ContentItem;
}

const { item } = Astro.props;
---

<Layout title={item.title}>
  <h1>{item.title}</h1>
</Layout>
