---
import { SITE, NAV_LINKS } from "../data/site";
---

<header>
  <nav>
    <a href="/">{SITE.name}</a>
    <ul>
      {NAV_LINKS.map(({ href, label }) => (
        <li><a href={href}>{label}</a></li>
      ))}
    </ul>
  </nav>
</header>
